.dropdown-menu{
    border-top:1px solid rgb(206, 33, 183); 
    }
      .option-box .color-option{
     background-color:#333;
     border:2px solid  rgb(206, 33, 183); ; 
     }
 
 .option-box   .check{
  background-color: rgb(206, 33, 183); ;
 
  }
 
 
  .testimonials  .carousel-indicators li{
     border:1px solid  rgb(206, 33, 183); ;
    }
 
    .footer h3 ,  .footer .copyright span{
     color:rgb(206, 33, 183);
 
    }
 
    .option-box .color-option ul li{
        background-color:rgb(206, 33, 183);
        }